@use './reset' as *;
@use 'variables';
@use 'fonts';
@use 'utils';
@use './helpers/' as *;

// * {
//   outline: 1px dashed rgba(255, 0, 255, 0.5);
// }

html {
  &.is-lock {
    overflow: hidden;
  }
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-black);
  background-color: var(--color-white);
}

main {
  flex-grow: 1;
}

.display-text {
  font-size: fluid(48, 28);
  line-height: fluid(56, 32);
  letter-spacing: -2%;
  margin: 0;
}

.display-text-outlined {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2%;
  margin: 0;
  text-shadow: -2px -2px 0 var(--color-black), 2px -2px 0 var(--color-black),
    -2px 2px 0 var(--color-black), 2px 2px 0 var(--color-black);
  color: var(--color-white);
}

.display-text-m {
  font-style: 24px;
  line-height: 28px;
  letter-spacing: -2%;
  margin: 0;
}

.display-text-m-outlined {
  font-style: 24px;
  line-height: 28px;
  letter-spacing: -2%;
  margin: 0;
  -webkit-text-stroke: 2px var(--color-black);
}

.sub-heading {
  font-style: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  margin: 0;
}

h1,
.h1 {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.72px;
}

h2,
.h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
}

h3,
.h3 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.56px;
}

h4,
.h4 {
  font-size: fluid(24, 20);
  line-height: fluid(28, 24);
  letter-spacing: -0.48px;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

.p1 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0;
}

.p2 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
  margin: 0;
}

.p3 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.24px;
  margin: 0;
}

.button-text {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0;
}

.button-text-2 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
  margin: 0;
}

.text-underlined {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-decoration: underline;
  margin: 0;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

// :focus-visible { // Закомментировано, если миксин не определен или не используется
//   @include focus-visible;
// }

// .header,
// .content > *:not(:nth-last-child(2)),
// .footer {
//   display: none !important;
// }
