@use '@/app/styles/helpers' as *;

.hello-section {
  height: 596px;
  padding: fluid(60, 20) fluid(32, 0);
  background-image: url('/Banner.jpg');
  background-repeat: no-repeat;
  background-size: auto calc(100% - 120px);
  background-position: right 32px center;

  &__text {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin: 0;
    padding-top: fluid-to-tablet(32, 16);
    padding-left: 3px;
    max-width: fluid-to-tablet(600, 230);
  }

  &__block1 {
    padding-top: 110px;
    display: flex;
    gap: 16px;

    &-title2 {
      font-weight: 800;
    }
  }

  &__block2 {
    display: flex;
    gap: 16px;

    &-title3 {
      font-weight: 800;
    }
  }

  &__block3 {
    display: flex;
    gap: 16px;

    &-title6 {
      font-weight: 800;
    }
  }

  @include tablet {
    background-image: url('/Banner_small.jpg');
    background-size: auto fluid-to-mobile-s(780, 343);
    background-position: center 40px;
    height: auto;

    &__text {
      max-width: 100%;
      padding-top: fluid-to-mobile-s(32, 8);
      padding-left: 4px;
    }

    &__block1 {
      padding-top: fluid-to-mobile-s(840, 390);
      gap: fluid-to-mobile-s(20, 8);
      &-title1,
      &-title2 {
        font-size: fluid-to-mobile-s(72, 28) !important;
      }
    }

    &__block2 {
      padding-top: fluid-to-mobile-s(40, 0);
      gap: fluid-to-mobile-s(20, 8);
      &-title3,
      &-title4 {
        font-size: fluid-to-mobile-s(72, 28) !important;
      }
    }

    &__block3 {
      padding-top: fluid-to-mobile-s(40, 0);
      gap: fluid-to-mobile-s(20, 8);
      &-title5,
      &-title6 {
        font-size: fluid-to-mobile-s(72, 28) !important;
      }
    }
  }
}
