@use '@/app/styles/helpers/functions' as *;
@use '@/app/styles/helpers/media' as *;
.header {
  display: flex;
  align-items: center;
  padding: fluid(24, 16) 0;
  gap: fluid-to-tablet(243, 45);

  @include tablet {
    gap: fluid(1430, 120);
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 8px 0;

    &-title {
      font-weight: 700;
    }
  }

  &__menu {
    display: flex;
    gap: 32px;
    padding-left: 0;

    &-item {
      font-weight: 600;
    }

    @include tablet {
      display: none;
    }

    &-icon {
      @include tablet {
        display: block;
      }
      @include tablet-above {
        display: none;
      }
    }
  }

  &__button {
    @include tablet {
      display: none;
    }
  }

  &.active {
    display: none;
  }
}

.header__menu-overlay {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.active {
    opacity: 1;
    transform: translateY(0);
    display: flex;
    padding: 26px 0;
    gap: fluid(1430, 68);
  }

  &-items {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
  }
}
