@use '@/app/styles/helpers/functions' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px fluid(250, 16);

  &__logo {
    display: flex;
    align-items: center;
    padding: 8px 0;

    &-title {
      font-weight: 700;
    }
  }

  &__menu {
    display: flex;
    gap: 32px;
    padding-left: 0;

    &-item {
      font-weight: 600;
    }
  }

  &__button {
    &-text {
      font-weight: 600;
    }
  }
}
