@use 'constants' as *;
@use 'sass:math';

@function fluid($max: 100, $min: 10, $endPoint: null) {
  $maxViewportWidth: $container-desktop-width;
  $minViewportWidth: 390;

  @if ($endPoint == 'laptop') {
    $minViewportWidth: $container-laptop-width;
  } @else if ($endPoint == 'tablet') {
    $minViewportWidth: $container-tablet-width;
  }

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersections: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersections * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@function fluid-px($max: 100, $min: 10, $endPoint: null) {
  $maxViewportWidth: $container-desktop-width;
  $minViewportWidth: 390;

  @if ($endPoint == 'laptop') {
    $minViewportWidth: $container-laptop-width;
  } @else if ($endPoint == 'tablet') {
    $minViewportWidth: $container-tablet-width;
  }

  $maxSize: $max;
  $minSize: $min;
  $maxWidth: $maxViewportWidth;
  $minWidth: $minViewportWidth;

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersections: -$minWidth * $slope + $minSize;

  @return clamp(#{$minSize}px, #{$yAxisIntersections}px + #{$slope * 100vw}, #{$maxSize}px);
}

@function fluid-to-laptop($max: 100, $min: 10) {
  @return fluid($max, $min, 'laptop');
}

@function fluid-to-tablet($max: 100, $min: 10) {
  @return fluid($max, $min, 'tablet');
}
